openapi: 3.0.4
servers:
  - url: https://app-sandbox.resolvepay.com/api
    description: Sandbox server
info:
  title: Resolve Partners API Reference
  version: partners-v1
  x-logo:
    url: https://assets.resolvepay.com/images/logos/resolve-direct-api.png
    altText: Resolve API
    href: ''
  description: >
    API Support:
    [accounts@resolvepay.com](mailto:accounts@resolvepay.com?subject=API)
tags:
  - name: Active Maintenance
    description: >
      **This API is currently under active maintenance.** New endpoints, fields,
      and features

      may be introduced, and existing behavior may be updated over time. For
      questions or

      feedback, contact
      [accounts@resolvepay.com](mailto:accounts@resolvepay.com?subject=Partners%20API%20Feedback).
    x-traitTag: true
  - name: Introduction
    description: >
      The Resolve Partners API is organized around
      [REST](https://en.wikipedia.org/wiki/Representational_state_transfer)
      principles.

      It uses predictable resource-oriented URLs, standard HTTP verbs and
      response codes,

      and accepts and returns [JSON-encoded](https://www.json.org/json-en.html)
      request and response bodies.


      The Partners API allows you to manage invoices, customers, payouts, and
      other resources on behalf of your sub-merchants. As a partner (platform or
      marketplace), you can access and manipulate your sub-merchants' data
      through this API.


      There are two types of partners:

      - **Marketplace** — Invoices belong to sub-merchants, while customers
      belong to the partner (marketplace) itself.

      - **Single-merchant** — Both invoices and customers belong to the
      sub-merchant.


      Your partner type determines how certain endpoints behave, particularly
      regarding the `merchant_id` parameter. See individual endpoint
      documentation for details.


      The current version is **partners-v1**. To upgrade your API version,
      please reach out to Resolve at
      [accounts@resolvepay.com](mailto:accounts@resolvepay.com?subject=API%20Version%20Upgrade).
    x-traitTag: true
  - name: Access Keys
    x-displayName: Access Keys
    description: >
      OAuth access keys are created in Merchant Dashboard and can be exchanged
      for bearer tokens.


      Use the `/access-keys/token` endpoint to mint a bearer token from a valid
      `client_id` and `client_secret`.
  - name: Webhooks
    x-displayName: Webhooks
    description: >
      Webhooks allow you to receive real-time notifications about events
      occurring for your sub-merchants. When an event occurs for any of your
      sub-merchants, Resolve sends an HTTP POST request to your configured
      webhook endpoint with details about the event.


      ## Webhook Event Structure


      All webhook events follow a consistent structure:


      ```json

      {
        "id": "4ecbe7f9e8c1c9092c000027",
        "object": "invoice",
        "type": "invoice.created",
        "occurred_at": "2021-05-20T09:23:53+00:00",
        "data": {
          "id": "RH5fF9aeQ",
          "merchant_id": "MER456789"
        }
      }

      ```


      The `data.id` field contains the ID of the object related to the event.
      You can use this ID to fetch the full object via the corresponding API
      endpoint.


      The `data.merchant_id` field indicates the ID of the sub-merchant the
      event occurred for. This allows you to identify which sub-merchant's data
      triggered the webhook.


      ## Supported Event Types


      ### Invoice Events

      - **`invoice.created`** - Triggered when a new invoice record is created.

      - **`invoice.balance_updated`** - Triggered when the outstanding balance
      of an invoice changes (for example, when a payment or credit note is
      applied).


      ### Customer Events

      - **`customer.created`** - Triggered when a new customer record is
      created.

      - **`customer.status_updated`** - Triggered when a customer's status
      changes (for example, when a customer is submitted for a credit check or
      enrolled).

      - **`customer.line_amount_updated`** - Triggered when a customer's credit
      limit amount is updated.

      - **`customer.advance_rate_updated`** - Triggered when a customer's
      advance rate percentage is updated.

      - **`customer.credit_decision_created`** - Triggered when a new credit
      decision is created for a customer.


      ### Payout Events

      - **`payout.created`** - Triggered when a new payout record is created.

      - **`payout.status_changed`** - Triggered when the status of a payout
      changes (for example, pending, in transit, paid).


      ### Merchant Events

      - **`merchant.created`** - Triggered when a new sub-merchant record is
      created by the partner integration.

      - **`merchant.underwriting_completed`** - Triggered when underwriting
      reaches a terminal decision for a sub-merchant.

      - **`merchant.more_info_needed`** - Triggered when a sub-merchant's
      underwriting workflow moves into a needs-info state.

      - **`merchant.mal_updated`** - Triggered when a sub-merchant's maximum
      approved limit (MAL) changes.


      ## Verifying Webhook Signatures


      To ensure webhook requests are genuine and coming from Resolve, you should
      verify the webhook signature. Resolve includes a signature in the
      `x-webhook-signature` header of each webhook request.


      ### JavaScript Example


      ```javascript

      const crypto = require('crypto');


      function verifyWebhookSignature(payload, signature, secret) {
        const computedSignature = crypto
          .createHmac('sha256', secret)
          .update(JSON.stringify(payload))
          .digest('hex');

        return crypto.timingSafeEqual(
          Buffer.from(signature),
          Buffer.from(computedSignature)
        );
      }


      // Usage in Express.js

      app.post('/webhooks', express.json(), (req, res) => {
        const signature = req.headers['x-webhook-signature'];
        const isValid = verifyWebhookSignature(req.body, signature, process.env.WEBHOOK_SECRET);

        if (!isValid) {
          return res.status(401).send('Invalid signature');
        }

        // Process the webhook event
        const event = req.body;
        console.log('Received event:', event.type);

        res.status(200).send('Webhook received');
      });

      ```


      ## Retry Policy


      If your webhook endpoint doesn't respond successfully (non-2xx status code
      or connection error), Resolve will automatically retry sending the webhook
      notification. The retry schedule follows an exponential backoff pattern:


      - **1st retry**: 30 seconds after the initial attempt

      - **2nd retry**: 90 seconds after the 1st retry

      - **3rd retry**: 270 seconds (4.5 minutes) after the 2nd retry

      - **4th retry**: 810 seconds (13.5 minutes) after the 3rd retry

      - **5th retry**: 2430 seconds (40.5 minutes) after the 4th retry


      After the 5th unsuccessful attempt, Resolve will stop retrying and the
      webhook delivery will be marked as failed.


      ## Best Practices


      - Always verify webhook signatures to ensure the request is from Resolve

      - Respond with a `200` status code as quickly as possible to acknowledge
      receipt

      - Process webhook events asynchronously if they require time-intensive
      operations

      - Implement idempotency on your endpoint to handle duplicate events from
      retries

      - Use the event `id` to track which events you've already processed
  - name: Invoices
    x-displayName: Invoices
    description: >
      An invoice represents the business transaction between a sub-merchant and
      a customer. In Resolve, an invoice must be tied to both a customer and a
      sub-merchant. An advance can be taken on the invoice.


      When creating an invoice, the `merchant_id` field is required and must
      reference a valid sub-merchant under your partner account.


      For an advance to be taken on the invoice, a PDF of the invoice must be
      uploaded and the associated customer must be approved and have available
      credit for the amount of the invoice.
  - name: Customers
    x-displayName: Customers
    description: >
      A customer represents a company that does business with your
      sub-merchants. For larger companies, there may be several users with
      access to the customer account that can make purchases with their credit
      line. For smaller companies, a customer may represent a single individual.
      Retrieve a customer to get a summary of their total credit line and
      available credit balance.


      **Important:** The behavior of the `merchant_id` parameter depends on your
      partner type:


      - **Single-merchant partners**: The `merchant_id` field is **required**
      when creating a customer, and must reference a valid sub-merchant under
      your partner account. The `merchant_id` field will be included in
      responses and can be used as a filter when listing customers. Both
      invoices and customers belong to the sub-merchant.

      - **Marketplace partners**: The `merchant_id` field is **not accepted**
      when creating a customer — customers belong to the marketplace (partner)
      itself. The `merchant_id` field will not be present in responses or
      available as a filter. Invoices still belong to sub-merchants.
  - name: Payouts
    x-displayName: Payouts
    description: >
      A Payout is a transfer of money between Resolve and either a sub-merchant
      or the partner directly, depending on who the payout receiver is. The
      `merchant_id` field on a payout can represent either the partner
      themselves or one of their sub-merchants.
  - name: Payout Transactions
    x-displayName: Payout Transactions
    description: >
      Payout Transactions are the individual transactions like customer
      payments, Resolve advances, forwarded payments, etc. that are rolled into
      a Payout for a sub-merchant or the partner. Each Payout is the sum of one
      or more transactions. Note that certain fields are only relevant to
      certain transaction types - e.g.: a Payout Transaction of type
      `monthly_fee` will have both `customer_id` and `invoice_id` set to `null`.
  - name: Payments
    x-displayName: Payments
    description: >
      A payment represents a transaction where a customer pays towards their
      invoices with a sub-merchant. When a payment is made to Resolve, the
      customer's available credit balance is increased by the amount of the
      payment. Payments can be made via various methods including ACH, credit
      card, check, or wire transfer. Each payment can be applied to one or more
      invoices.


      As a partner, you can also create forwarded payments on behalf of your
      sub-merchants. The payment will be forwarded from the bank account of the
      entity that receives payouts — if the payout receiver is the partner, the
      partner's bank account will be used; otherwise, the sub-merchant's bank
      account will be used.
  - name: Credit Notes
    x-displayName: Credit Notes
    description: >
      Credit Notes are issued to customers of your sub-merchants to reduce the
      amount they owe. As a partner, you can manage credit notes across all your
      sub-merchants.
  - name: Merchants
    x-displayName: Merchants
    description: >
      Merchant-scoped operations for managing sub-merchant resources.


      The merchant document upload endpoint creates a document record and starts
      transfer into Resolve-managed storage for validation.
  - name: Shipments
    x-displayName: Shipments
    description: >
      A shipment represents the fulfillment of goods or services for an invoice
      of a sub-merchant. Track shipments to monitor delivery status and
      fulfillment progress. Shipments can be fulfilled through various methods
      including shipping providers, self-delivery, customer pickup, or for
      services-only transactions.


      ## Supported Couriers


      While any courier value can be accepted for the `shipment_courier` field,
      instant verification through the sync endpoint is supported for the
      following couriers:


      ### Major Carriers

      - `fedex` - FedEx®

      - `ups` - UPS

      - `usps` - USPS

      - `dhl` - DHL Express

      - `dhl-api` - DHL


      ### Complete List of Supported Couriers


      `fedex`, `ups`, `usps`, `17postservice`, `2go`, `2ebox`, `360lion`,
      `3jmslogistics`, `4-72`, `4px`, `shipstoresoftware-webhook`, `99minutos`,
      `aduiepyle`, `a1post`, `a2b-ba`, `aaa-cooper`, `abf`, `acilogistix`,
      `acscourier`, `acsworldwide`, `ads`, `adsone`, `aex`, `afllog-ftp`,
      `arihantcourier`, `air21`, `aitworldwide-sftp`, `aitworldwide-api`,
      `alljoy`, `amsegroup`, `ancdelivers-sftp`, `anserx`, `ao-deutschland`,
      `ao-courier`, `ao-courier-webhook`, `apc-overnight`,
      `apc-overnight-connum`, `apc`, `apg`, `ark-logistics`, `ase`, `asigna`,
      `asm`, `ata`, `atshealthcare`, `atshealthcare-reference`, `activos24-api`,
      `aderonline`, `adicional`, `aeronet`, `test-courier`, `agediss-sftp`,
      `agility`, `airmee-webhook`, `airpak-express`, `airspeed`, `allegro`,
      `alliedexpress`, `allied-express-ftp`, `alphafreight-webhook`,
      `always-express`, `amazon`, `awest`, `an-post`, `andreani-api`,
      `anicamboxexpress`, `anjun`, `anteraja`, `aoyue`, `aquiline`, `aramex`,
      `aramex-api`, `fastway-au-api`, `fastway-au`, `araskargo`,
      `arco-spedizioni`, `argents-webhook`, `arrow-api`, `arrowxl`,
      `asendia-de`, `asendia-hk`, `asendia`, `asendia-uk`, `asendia-usa`,
      `agsystems`, `associated-couriers`, `asyadexpress`, `auexpress`,
      `australia-post`, `australia-post-api`, `austrian-post`,
      `austrian-post-registered`, `averitt`, `axlehire`, `axlehire-ftp`,
      `bh-worldwide`, `b2ceurope`, `bdmnet`, `bjshomedelivery`,
      `bjshomedelivery-ftp`, `brt-it`, `brt-it-api`, `brt-it-parcelid`,
      `brt-it-sender-ref`, `btxglobal-ftp`, `buffalo`, `barqexp`, `barsan`,
      `belpost`, `ibeone`, `bert-fr`, `800bestex`, `besttransport-sftp`,
      `bestwayparcel`, `bettertrucks`, `bigsmart`, `biocair-ftp`, `birdsystem`,
      `bleckmann-sftp`, `blinklastmile`, `bluex`, `bluestar`, `bluecare`,
      `bluedart-api`, `bluedart`, `bneed`, `bollore-logistics-sftp`,
      `bollore-logistics`, `bombinoexp`, `bomi-br-api`, `bomi`, `bond`,
      `bondscouriers`, `borderexpress`, `borderless360-webhook`, `boxc`,
      `box-berry`, `boxcheck-api`, `bpost`, `bpost-api`, `bpost-international`,
      `braspress-web`, `braunsexpress`, `brazil-correios`, `bring`, `bringer`,
      `brouwer-transport`, `budbee-webhook`, `bgpost`, `burd`, `cchezvous-sftp`,
      `cae-delivers`, `cbl-logistica`, `cbl-logistica-api`, `cdek`, `cdek-tr`,
      `cdldelivers`, `cdldelivers-api`, `ceva`, `ceva-webhook`, `ceva-tracking`,
      `cfl-logistics`, `cgs-express`, `parcll`, `cj-malaysia-international`,
      `cj-gls`, `cj-korea-thai`, `cjlogistics`, `cj-hk-international`,
      `cjpacket`, `cj-philippines`, `ckb-webhook`, `cle-logistics`,
      `cn-logistics`, `cnexps`, `crlexpress`, `cse`, `ctc-express`, `tourline`,
      `cacesa`, `cago`, `cainiao`, `cambodia-post`, `canada-post`, `canpar`,
      `capital`, `cpex`, `cargopartner-api`, `carriers`, `carry-flap`,
      `castleparcels`, `celeritas-ftp`, `cello-square`, `champion-logistics`,
      `chazki`, `chienventure-webhook`, `chilexpress-webhook`, `china-ems`,
      `china-post`, `chitchats`, `choirexpress`, `chronopost-france-webhook`,
      `chronopost-france`, `chronopost-portugal`, `ec-firstclass`,
      `city56-webhook`, `citylinkexpress`, `clevy-links`, `clicklink-sftp`,
      `cloudwish-asia`, `colis-prive`, `colissimo`, `collectplus`, `collectco`,
      `com1express`, `comet-tech`, `con-way`, `concise-api`, `concise-webhook`,
      `continental`, `coordinadora`, `coordinadora-api`, `copa-courier`, `cope`,
      `corporatecouriers-webhook`, `correo-uy`, `correosexpress`,
      `correosexpress-api`, `spain-correos-es`, `correos-de-mexico`,
      `costmeticsnow`, `courant-plus`, `courant-plus-api`, `courierit`,
      `cnwglobal-api`, `courier-plus`, `courierpost`, `couriers-please`,
      `croshot`, `crossflight`, `cryopdp-ftp`, `cubyn`, `cuckooexpress`,
      `cyprus-post`, `ceskaposta`, `ceskaposta-api`, `dexpress-webhook`,
      `dachser-web`, `dachser`, `daiglobaltrack`, `dao365`, `dbschenker-se`,
      `dbschenker-api`, `dbschenker-b2b`, `dbschenker-iceland-ftp`,
      `dbschenker-sv`, `ddexpress`, `deliveryontime`, `dex-i`, `dhl-api`,
      `dhl-reference-api`, `dhl-active-tracing`, `dhl-benelux`, `dhl-sftp`,
      `dhl`, `dhl-pieceid`, `dhl-freight`, `dhl-pa-api`,
      `dhl-global-forwarding-api`, `dhl-gt-api`, `dhl-ecommerce-gc`,
      `dhl-ecommerce-gc-api`, `dhl-hk`, `dhl-ie-sftp`, `dhl-nl`, `dhlparcel-nl`,
      `dhlparcel-ru`, `dhlparcel-es`, `dhlparcel-uk`, `dhl-poland`,
      `dhl-es-sftp`, `dhl-es`, `dhl-supplychain-apac`,
      `dhl-supply-chain-au-sftp`, `dhl-supply-chain-au`, `dhl-supplychain-id`,
      `dhl-global-mail-asia`, `dhl-global-mail-asia-api`, `dhl-global-mail`,
      `dhl-global-mail-api`, `dhl-supplychain-in`, `didadi`, `dirmensajeria`,
      `dksh`, `dmfgroup`, `dms-matrix`, `dnj-express`, `domino`, `dpd`,
      `dpd-api`, `dpd-at`, `dpd-at-sftp`, `exapaq`, `dpd-de`, `dpd-hk`,
      `dpd-hungary-web`, `dpd-hungary-ftp`, `dpd-hungary`, `dpd-ireland`,
      `interlink-express`, `interlink-express-reference`, `dpd-nl-api`,
      `packs-api`, `dpd-nl`, `dpd-poland`, `dpd-prt`, `dpd-ro`, `dpd-ru-api`,
      `dpd-ru`, `dpd-sk-sftp`, `dpd-ch-sftp`, `dpd-uk`, `dpd-uk-sftp`,
      `dpe-express`, `dpe-za`, `dpex`, `szdpex`, `dsv-za-sftp`, `dsv`,
      `dsv-reference`, `dsv-are-webhook`, `dtd`, `dtdc-au`, `dtdc-express`,
      `dtdc`, `dx`, `dx-sftp`, `dx-b2b-connum`, `dx-freight`, `daeshin`,
      `daiichi`, `danniao`, `danske-fragt`, `dashlink-webhook`, `dawnwing`,
      `dayross`, `dylt`, `dayton-freight`, `dealer-send`, `delhivery-webhook`,
      `delhivery`, `deliveryourparcel-za`, `deliver-it`, `smartkargo`,
      `deliveright-webhook`, `deliverr-sftp`, `delnext`, `deltec-courier`,
      `godependable`, `designertransport-webhook`, `destiny-ftp`, `destiny`,
      `destiny-webhook`, `detrack`, `detrack-webhook`, `dhl-germany`,
      `deutsch-post`, `dialogo-logistica-api`, `dialogo-logistica`,
      `diamondcouriers`, `dimerco`, `directcouriers`, `directcouriers-ftp`,
      `directfreight-au-ref`, `directlog`, `direx`, `discountpost`, `emega`,
      `dobropost`, `doordash-webhook`, `doora`, `dynamic-logistics`, `ecms`,
      `ecoscooting`, `ecexpress`, `efs`, `elta-courier`, `empsexpress`, `ems`,
      `eu-fleet-solutions`, `myhermes-uk`, `myhermes-uk-api`, `ewe`,
      `expressone`, `expressone-sv`, `earlybird`, `eastwestcourier-ftp`,
      `easy-mail`, `easyroutes`, `easyparcel`, `ecargo-asia`, `echo`,
      `ecofreight`, `ecom-express`, `ekart`, `ekol-api`, `elite-co`,
      `emirates-post`, `endeavour-delivery`, `energologistic`, `envialia`,
      `envialia-reference`, `equick-cn`, `eshipping`, `zes-express`, `estafeta`,
      `estafeta-api`, `estes`, `efwnow-api`, `etomars`, `edf-ftp`, `eurodis`,
      `europaket-api`, `exelot-ftp`, `expeditors`, `expeditors-api-ref`,
      `expresssale`, `fan`, `far-international`, `fdsexpress`, `fercam`, `fmx`,
      `frontdoorcorp`, `fujexp`, `fargood`, `fnf-za`, `fastdespatch`, `fastbox`,
      `fastrak-th`, `fastship`, `fasttrack`, `aramex-au-api`, `fastway-ireland`,
      `fastway-nz`, `fastway-za`, `faxecargo`, `fetchr`, `fiege`, `fiege-nl`,
      `first-flight`, `first-logistics-api`, `firstmile`, `fitzmark-api`,
      `flashexpress`, `flashexpress-webhook`, `flashexpress-ph-api`,
      `fleetopticsinc`, `flightlg`, `flipxp`, `fliway-sftp`, `fliway-api`,
      `flytexpress`, `fonsen`, `forwardair`, `fragilepak-sftp`, `freightquote`,
      `freterapido`, `fukuyama-sftp`, `fulfilla`, `fulfillmen`, `furdeco`,
      `gwlogis-api`, `gac-webhook`, `gangbao`, `gba`, `gbs-broker`, `gcx`,
      `gdex`, `gdpharm-webhook`, `gdpharm`, `gemworldwide`, `geodis-api`,
      `geodis-sftp`, `geodis-calberson-fr`, `geswl`, `gio-ecourier-api`,
      `gio-ecourier`, `gls`, `gls-croatia`, `gls-cz`, `gls-slovakia`,
      `gls-hun-api`, `gls-hun`, `gls-italy-ftp`, `gls-italy`, `dicom`,
      `gls-netherlands`, `gls-netherlands-webhook`, `gls-netherlands-sftp`,
      `gls-romania`, `gls-slovenia`, `gls-spain`, `gls-spain-api`, `gls-us`,
      `gols`, `gps`, `gsi-express`, `gso`, `gtagsm`, `gati-kwe`, `gati-kwe-api`,
      `gw-world`, `geis`, `gel-express`, `taxydromiki`, `geodis-usa-api`,
      `gpost`, `ghn`, `goglobalpost`, `globaltranz`, `globavend`,
      `globegistics`, `glovo`, `general-overnight`, `general-overnight-ftp`,
      `gopeople`, `gorush`, `gobolt`, `gojavas`, `gojek-webhook`,
      `grab-webhook`, `grandslamexpress`, `greyhound`, `mazet`, `grupoampm`,
      `andreani`, `hct-logistics`, `hfd`, `hkd`, `hrparcel`, `hermes-it`,
      `hsdexpress`, `hsm-global`, `htdkgroup-webhook`, `yycom`, `hubbed`,
      `hx-express`, `hdb`, `hdb-box`, `hanjin`, `hellenic-post`, `hellmann`,
      `helthjem`, `helthjem-api`, `heppner-fr`, `heppner`,
      `hermes-2mann-handling`, `hermes-de`, `hermes-de-ftp`, `hermes-uk-sftp`,
      `hermes`, `heroexpress`, `hipshipper`, `holisol`,
      `home-delivery-solutions`, `homelogistics`, `hong-kong-post`,
      `houndexpress`, `hrvatska-posta`, `hh-exp`, `huantong`,
      `hunter-express-sftp`, `hunter-express`, `huodull`, `ibventure-webhook`,
      `icscourier`, `idexpress`, `iml`, `imxmail`, `indopaket`,
      `intersmarttrans`, `intex-de`, `iordirect`, `postur-is`, `ilyanglogis`,
      `inpost-uk`, `inpost-paczkomaty`, `intime-ftp`, `india-post`,
      `india-post-int`, `inexpost`, `nox-nachtexpress`, `nox-nachtexpress-ftp`,
      `descartes`, `inntralog-sftp`, `instabox-webhook`, `integra2-ftp`,
      `intel-valley`, `intelcom-ca`, `intelipost`, `international-seur`,
      `international-seur-api`, `intexpress`, `interparcel-au`,
      `interparcel-nz`, `interparcel-uk`, `israel-post`, `israel-post-domestic`,
      `italy-sda`, `ivoy-webhook`, `jtcargo`, `jtexpress`, `jtexpress-ph`,
      `jtexpress-sg-api`, `simplypost`, `jtexpress-vn`, `j-net`, `jamef-web`,
      `jcex`, `jd-worldwide`, `jinsung`, `jne`, `jne-api`, `bh-posta`,
      `js-express`, `jx`, `jam-express`, `janco`, `janio`, `japan-post`,
      `javit`, `jawar`, `jayonexpress`, `jersey-post`, `jet-ship`, `ltianexp`,
      `jocom`, `joom-logistics`, `joyingbox`, `jumppoint-api`, `jumppoint`,
      `k1-express`, `kec`, `abxexpress-my`, `kgmhub`, `kurasi`, `kwe-global`,
      `kangaroo-my`, `kargomkolay`, `kedaex`, `kerryttc-vn`, `tgx`,
      `kerry-express-tw-api`, `kerry-logistics`, `kerry-express-th-webhook`,
      `kerrytj`, `kerry-ecommerce`, `kng`, `logisystems-sftp`, `kinisi`,
      `kiwi-express-webhook`, `kolay-gelsin`, `komon-express`, `kpost`,
      `korea-post`, `kronos-webhook`, `kronos`, `ky-express`, `kn`, `kdexp`,
      `lbcexpress-ftp`, `lbcexpress-api`, `lctbr-api`, `lht-express`,
      `liccardi-express`, `liefergrun`, `lmparcel`, `ltl`, `la-poste-colissimo`,
      `lalamove-api`, `lalamove`, `lalamove-plus-api`, `landmark-global-ftp`,
      `landmark-global`, `lao-post`, `lasership-api`, `lasership`,
      `latvijas-pasts`, `leader`, `legion-express`, `leman`, `lexship`,
      `lietuvos-pastas`, `line`, `linkbridge`, `lion-parcel`, `livrapide`,
      `locus-webhook`, `loggi`, `logisters`, `lwe-hk`, `logoix`,
      `logwin-logistics`, `logysto`, `lonestar`, `loomis-express`, `lotte`,
      `luwjistik`, `m-xpress`, `mx-cargo`, `m24logistics-webhook`,
      `m3logistics`, `mbw`, `collivery`, `metabrasil-webhook`, `misumi-cn`,
      `mng-kargo`, `mnx`, `mrw-spain`, `mrw`, `mrw-ftp`, `mudita`, `madrooex`,
      `maergo`, `magyar-posta-api`, `mail-box-etc`, `mailamericas`, `mailplus`,
      `mailplus-jp`, `mainfreight`, `mainway`, `malaysia-post-posdaftar`,
      `malaysia-post`, `malca-amit-api`, `malca-amit`, `marken`, `matdespatch`,
      `matkahuolto`, `medafrica`, `meest`, `fetchr-webhook`,
      `mensajerosurbanos-api`, `mwd-api`, `mwd`, `aeroflash`, `mexico-redpack`,
      `mexico-senda-express`, `mhi`, `mikropakket`, `mikropakket-be`, `milkman`,
      `mobi-br`, `mobiletyreshop-webhook`, `mondialrelay`, `mondialrelay-fr`,
      `mondialrelay-es`, `moova-webhook`, `moovin`, `morelink`,
      `morning-express`, `morninglobal`, `mothership-api`, `movianto`,
      `multientregapanama`, `mydynalogic`, `nmtransfer`, `nacex`,
      `nacex-spain-reference`, `nacex-spain`, `nox-night-time-express`,
      `ntilogistics-ftp`, `ntl`, `nytlogistics`, `new-zealand-post`,
      `naeko-ftp`, `nanjingwoyuan`, `naqel-express`, `national-sameday`,
      `nationex`, `nationex-ftp`, `nationwide-my`, `navlungo`, `netlogixgroup`,
      `newzealand-couriers`, `neweggexpress`, `newgistics`, `newgisticsapi`,
      `nhans-solutions`, `ntlogistics-vn`, `nipost`, `nightline`, `nim-express`,
      `nimbuspost`, `ninjavan`, `ninjavan-id`, `ninjavan-my`, `ninjavan-thai`,
      `ninjavan-vn`, `ninjavan-webhook`, `nippon-express-ftp`, `nippon-express`,
      `norsk-global`, `northline`, `nova-poshta`, `nova-poshtaint`,
      `nova-poshta-api`, `novofarma-webhook`, `oca-ar`, `ocs`, `ocs-worldwide`,
      `omlogistics-api`, `osm-worldwide-sftp`, `osm-worldwide`, `otschile`,
      `oakh`, `obibox`, `okayparcel`, `old-dominion`, `shopolive`, `omniparcel`,
      `omnirps-webhook`, `omniva-api`, `omniva`, `onway-webhook`, `ontrac`,
      `ontrac-api`, `oneworldexpress`, `oneclick`, `optimacourier`,
      `orangeconnex`, `orangeconnex-ftp`, `orangedsinc`, `orangedsinc-ftp`,
      `overseas-hr`, `ozeparts-shipping`, `p2p-delivery-api`, `trakpak`,
      `packfleet`, `palexpress`, `parcelone`, `pfcexpress`, `pflogistics`,
      `pflogistics-ftp`, `phse-api`, `pickupp-mys`, `pickupp-sgp`, `piggyship`,
      `pil-logistics`, `pittohio`, `taqbin-taiwan`, `mglobal`, `pts`,
      `ptt-kargo`, `ptt-posta`, `paack-webhook`, `pack-up`, `packaly`,
      `packeta`, `packlink`, `packs`, `paikeda`, `pakajo`, `palletways`,
      `pan-asia`, `pandago-api`, `pandago-ph-api`, `pandion`, `pandulogistics`,
      `panther`, `panther-order-number`, `panther-reference`,
      `panther-reference-api`, `papa-webhook`, `paper-express`, `paquetexpress`,
      `parcalogistics-webhook`, `parcalogistics-api`, `pdn-api`, `portless-api`,
      `parcel-force`, `parcelpost-sg`, `parcelright`, `parceltopost`,
      `parcel2go`, `parcelpal-webhook`, `parcelpoint`, `parcelinklogistics`,
      `parcelled-in`, `parcelstars-webhook`, `parcelstars`, `parknparcel`,
      `passportshipping`, `patheon`, `ppbyb`, `payo`, `payo-webhook`,
      `pgeon-api`, `pickrr`, `pickup`, `pidge`, `pilot-freight`, `pitney-bowes`,
      `planzer`, `plycongroup`, `poczta-polska`, `polarspeed`, `pony-express`,
      `porterex-webhook`, `portugal-ctt`, `portugal-seur`, `pos-indonesia`,
      `postone`, `post-serbia`, `post-slovenia`, `post56`, `postnl`,
      `postnl-international`, `postnl-3s`, `danmark-post`, `postnord`,
      `sweden-posten`, `postplus`, `postaplus`, `poste-italiane`,
      `poste-italiane-paccocelere`, `posten-norge`, `posti`, `posti-api`,
      `posta-romana`, `pressiode`, `procarrier`, `promeddelivery`,
      `productcaregroup-sftp`, `professional-couriers`, `ppl-api`, `ppl`,
      `purolator`, `purolator-api`, `purolator-international`, `qtrack`,
      `quantium`, `qintl-api`, `airterra`, `quiqup`, `quiqup-webhook`,
      `qwintry`, `qxpress`, `raf`, `ramgroup-za`, `ets-express`, `rl-carriers`,
      `rpd2man`, `rpm`, `rpxlogistics`, `rpxonline`, `rxo-api`, `rzyexpress`,
      `raben-group`, `raiderex`, `ransa-webhook`, `rcl`, `redjepakketje`,
      `redur-es`, `relaiscolis`, `rendr-webhook`, `returnmates-webhook`,
      `rhenus-group`, `rhenus-uk-api`, `rhenus-uk`, `rincos`,
      `air-canada-global`, `air-canada`, `rixonhk-api`, `roadbull`,
      `roadrunner-freight`, `roche-internal-sftp`, `rocketparcel`,
      `routific-webhook`, `royal-mail`, `royal-mail-ftp`, `royal-mail-webhook`,
      `royalshipments`, `russian-post`, `ruston`, `sailpost`, `sap-express`,
      `sekologistics`, `seko-sftp`, `showl`, `sf-express-api`, `sf-express`,
      `sf-express-cn`, `sfb2c`, `sfc`, `sfcservice`, `sglink`, `hotsin-cargo`,
      `shipa`, `shipter`, `shipxpres`, `shreenandancourier`, `shreetirupati`,
      `signia-ftp`, `signialogistics-sftp`, `skybox`, `smartcat`,
      `smsa-express`, `smsa-express-webhook`, `speedex`,
      `spflylogistica-webhook`, `spoton`, `sprint-pack`, `srekorea`,
      `srt-transport`, `starken`, `stepforwardfs`, `sto`, `stone3pl`, `szendex`,
      `safexpress`, `sagawa-api`, `sagawa`, `saia-freight`, `sassy-api`,
      `saudi-post`, `sberlogistics-ru`, `scotty`, `scudex-express`,
      `secretlab-webhook`, `seino`, `seino-api`, `sendeo-kargo`, `sending`,
      `sendit`, `sendle`, `sendy`, `nowlog-api`, `servip-webhook`,
      `servientrega`, `setel`, `shadowfax`, `dajin`, `ydex`, `kwt`, `sherpa`,
      `sherpa-webhook`, `ship-it-asia`, `shipentegra`, `shipgate`,
      `shipglobal-us`, `shipx`, `shipx-api`, `shippie`, `shippify`, `shippit`,
      `shiprocket`, `spx`, `spx-th`, `shopfans`, `shreeanjanicourier`,
      `shree-maruti`, `shunbang-express`, `shyplite`, `simpletire-webhook`,
      `simsglobal`, `singlobal-express`, `singapore-post`,
      `singapore-speedpost`, `sinotrans`, `siodemka`, `skelton-sftp`, `skyking`,
      `skyexpress-international`, `skyexpressinternational`, `skynet`,
      `skynetworldwide`, `skynetworldwide-uae`, `sky-postal`, `skynet-za`,
      `skynetworldwide-uk`, `sk-posta`, `smooth`, `sntglobal-api`, `sonictl`,
      `thenile-webhook`, `sapo`, `sefl`, `smtl`, `spanish-seur`,
      `spanish-seur-ftp`, `spanish-seur-api`, `specialisedfreight-za`,
      `spectran`, `spedisci`, `speedee`, `speedcouriers-gr`, `speedx`, `speedy`,
      `speedaf`, `spreetail-api`, `spring-gds`, `stallionexpress`,
      `star-track-courier`, `star-track-express`, `star-track`,
      `star-track-webhook`, `starlinks-api`, `statovernight`, `stop-start-api`,
      `streck-transport`, `sypost`, `superpackline`, `surat-kargo`, `sutton`,
      `swiship`, `swiship-jp`, `swiss-post`, `swiss-post-ftp`,
      `swiss-universal-express`, `loginext-webhook`, `t-cat`, `t-cat-api`,
      `taqbin-hk`, `tasco-my-webhook`, `tck-express`, `tcs-api`, `tcs`,
      `thedeliverygroup`, `tdn`, `tfm`, `tforce-finalmile`, `tigfreight`,
      `tipsa`, `tnt`, `tnt-au`, `tntbrasil-web`, `tnt-fr`, `tnt-fr-reference`,
      `tnt-it`, `tnt-reference`, `tnt-uk`, `tnt-uk-reference`, `tnt-click`,
      `tarrive`, `thaiparcels`, `trumpcard`, `tvsscs-webhook`, `typ`,
      `global-express`, `taiwan-post`, `tamergroup-webhook`,
      `tazmanian-freight`, `teamexpressllc`, `toll-priority`,
      `team-global-express-webhook`, `teleport-webhook`, `sic-teliway`,
      `testing-courier`, `thabit-logistics`, `thailand-post`, `thecourierguy`,
      `customco-api`, `pallet-network`, `thijs-nl`, `thunderexpress`, `tiki`,
      `tipsa-api`, `tipsa-ref`, `toll-ipec`, `toll-nz`, `tolos`, `tomydoor`,
      `tonami-ftp`, `esdex`, `topyou`, `tophatterexpress`, `toshi-webhook`,
      `total-express-api`, `total-express`, `tourline-reference`, `trackon`,
      `trans-kargo`, `trans2u`, `transmission-nl`, `transvirtual`, `transpak`,
      `tanet`, `trunkrs-webhook`, `trunkrs`, `trusk`, `tuffnells`,
      `tuffnells-reference`, `tusklogistics`, `u-envios`, `ubi-logistics`,
      `ucs`, `uk-mail`, `ucfs-api`, `usf-reddaway`, `uber-webhook`, `ukrposhta`,
      `uds`, `urb-it`, `courex`, `urbify`, `urgent-cargus`, `virtransport`,
      `viwo`, `vox`, `value-webhook`, `veho-webhook`, `venipak`, `vesyl`,
      `vesyl-api`, `viaeurope`, `viaxpress`, `vtfe`, `vnpost`, `vnpost-api`,
      `viettelpost`, `virtransport-sftp`, `wooyoung-logistics-sftp`,
      `wspexpress`, `wahana`, `wanbexpress`, `weworldexpress`, `wedo`, `wepost`,
      `weship-api`, `weship`, `weaship`, `welivery`, `shipwestgate`, `whistl`,
      `wineshipping`, `wineshipping-webhook`, `wise-express`, `wiseloads`,
      `wishpost`, `wizmo`, `worldcourier`, `worldnet`, `xdp-uk`,
      `xdp-uk-reference`, `xgs`, `xl-express`, `xpo-logistics`, `xpo-fr-api`,
      `xq-express`, `xde-webhook`, `xindus`, `xyy`, `xpedigo`, `xpert-delivery`,
      `xpost`, `xpressbees`, `xpressen-dk`, `yamato-tw-api`, `ydh-express`,
      `yrc`, `yto`, `yyexpress`, `yakit`, `taqbin-jp`, `taqbin-sg-api`,
      `taqbin-sg`, `yanwen`, `yifan`, `elian-post`, `yodel-api`, `yodeldirect`,
      `yodel`, `yodel-international`, `youparcel`, `yunexpress`, `yunant`,
      `yundaex`, `yunhuipost`, `yurtici-kargo`, `yusen-sftp`, `yusen`,
      `zjs-express`, `zto-domestic`, `zto-express`, `zyou`, `cndexpress`,
      `zajil-express`, `sfplus-webhook`, `zeek`, `zeleris`, `ziingfinalmile`,
      `zinc`, `zoom-red`, `zoom2u-webhook`, `zuelligpharma-sftp`, `acommerce`,
      `alphafast`, `cpacket`, `chronodiali-webhook`, `cnwangtong`, `delivere`,
      `e-courier-webhook`, `ecoutier`, `eparcel-kr`, `epostglobal`, `eshipper`,
      `etotal`, `etower`, `fairsenden-api`, `forrun`, `gojek`, `hepsijet`,
      `i-dika`, `i-parcel`, `icumulus-webhook`, `icumulus`, `idexpress-id`,
      `imile-api`, `ithinklogistics`, `liefery`, `mysendle-api`, `pack-man`,
      `shopline`, `solistica-api`, `swe`, `trans-o-flex-sftp`, `transligue-web`,
      `uparcel`, `uship`, `uc56`, `wndirect`, `xmszm`, `ceska-posta`, `winit`,
      `jd-express`, `jusdasr`, `be`, `padtf`, `pchome-api`, `6ls`,
      `yingnuo-logistics`, `jindouyun`, `sdh-scm`


      **Note:** Using unsupported courier values will still work but
      verification may be delayed or require manual processing.
components:
  securitySchemes:
    basicAuth:
      description: >-
        HTTP Basic Auth using `merchant_id` as username and the merchant secret
        key as password.
      type: http
      scheme: basic
    bearerAuth:
      description: >-
        Bearer token authentication using an OAuth access token minted for an
        API access key created in Merchant Dashboard.
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Customer:
      type: object
      description: >
        The customer object represents a company that does business with your
        sub-merchants. Retrieve a customer to get a summary of their total
        credit line and available credit balance. For single-merchant partners,
        the response includes a `merchant_id` field. For marketplace partners,
        the `merchant_id` field is not present — customers belong to the
        marketplace itself.
      properties:
        id:
          type: string
          example: PMMlaE5wbg0
        merchant_id:
          type: string
          example: MER456789
          description: >-
            ID of the sub-merchant this customer belongs to. Only present for
            single-merchant partners.
        external_id:
          type: string
          nullable: true
          example: CUS-123456
          description: >-
            Optional customer identifier from your system. This value is not
            required to be unique and can be used with the `external_id` list
            filter.
        created_at:
          type: string
          format: date-time
          example: '2020-01-01T00:00:00.750Z'
          description: Date the customer was created.
        updated_at:
          type: string
          format: date-time
          example: '2020-01-01T00:00:00.750Z'
          description: Date the customer was last updated.
        source:
          type: string
          enum:
            - QUICKBOOKS
            - MERCHANT_USER
            - ADMIN_USER
            - APPLICATION
            - CUSTOMER_USER
            - API
          example: MERCHANT_USER
        business_address:
          type: string
          example: 111 Main Street
          description: Street address of the business' primary location.
        business_city:
          type: string
          example: San Francisco
          description: City of the business' primary location.
        business_state:
          type: string
          example: CA
          description: State or province of the business' primary location.
        business_zip:
          type: string
          example: '94104'
          description: US zip code of the business' primary location.
        business_country:
          type: string
          example: US
          description: >-
            Country of the business' primary location according to the **ISO
            3166-1 alpha 2** standard.
        business_age_range:
          type: string
          example: 5-10
          description: String indicating age of the business in years.
          enum:
            - 0-2
            - 2-5
            - 5-10
            - 10+
        business_ap_email:
          type: string
          example: ap@example.com
          description: >-
            Email address of the business' accounts payable person or
            department.
        business_ap_phone:
          type: string
          example: (202) 456-1414
          description: Phone number of the business' accounts payable person or department.
        business_ap_phone_extension:
          type: string
          example: '123'
          description: >-
            Phone number extension of the business' accounts payable person or
            department.
        business_name:
          type: string
          example: Example, Inc.
          description: Full legal name of the business being applied for.
        business_trade_name:
          type: string
          example: Example Trading Company
          description: Trade name of the business, if different than `business_name.`
        business_phone:
          type: string
          example: (202) 456-1414
          description: Phone number of the business' primary location.
        business_type:
          type: string
          example: corporation
          description: String indicating the business' type of legal entity.
          enum:
            - sole_prop_or_partnership
            - llc
            - corporation
            - nonprofit
            - government
        email:
          type: string
          format: email
          example: user@example.com
          description: Email of the customer applying for terms.
        personal_name_first:
          type: string
          example: James
          description: First name of the person applying on behalf of the business.
        personal_name_last:
          type: string
          example: Bond
          description: Last name of the person applying on behalf of the business.
        personal_phone:
          type: string
          example: (202) 456-1414
          description: >-
            Personal phone number of the customer representative applying for
            terms.
        amount_approved:
          type: integer
          format: int64
          example: 10000
          description: Total amount of the credit approved.
        amount_authorized:
          type: integer
          format: int64
          example: 10000
          description: Amount of the credit line reserved for authorized charges.
        amount_available:
          type: integer
          format: int64
          example: 10000
          description: Current amount of the credit line available for purchases.
        amount_balance:
          type: integer
          format: int64
          example: 2000
          description: Current balance on the customer's credit line.
        amount_unapplied_payments:
          type: integer
          format: int64
          example: 1000
          description: Current amount of a customer's unapplied payments.
        default_terms:
          type: string
          nullable: true
          description: >-
            Set default terms that will apply to this customer's invoices. Can
            be overridden when requesting an advance.
          enum:
            - net7
            - net10
            - net10th
            - net15
            - net20
            - net30
            - net45
            - net60
            - net75
            - net90
            - net120
            - net180
            - null
        advance_rate:
          type: number
          format: double
          nullable: true
          example: 0.75
          minimum: 0
          maximum: 1
          description: >-
            The advance rate that will be used to determine the amount advanced
            for this customer's invoices.
        credit_status:
          type: string
          nullable: true
          description: >-
            Current credit status of this customer. See <a
            href="#operation/requestCustomerCreditCheck">#request-a-credit-check</a>
            for more details.
          enum:
            - approved
            - hold
            - declined
            - pending
            - deactivated
            - null
        net_terms_status:
          type: string
          nullable: true
          description: >-
            Current net terms enrollment status of this customer. See <a
            href="#operation/fetchCustomer">#fetchCustomer</a> for more details.
          enum:
            - enrolled
            - pending_enrollment
            - enrollment_expired
            - null
        net_terms_enrollment_url:
          type: string
          nullable: true
          example: www.app.resolvepay.com/merchant-id/activate/123456
          description: >-
            The URL for a customer to complete enrollment requirements when
            net_terms_status is pending_enrollment. See <a
            href="#operation/fetchCustomer">#fetchCustomer</a> for more details.
        net_terms_enrollment_expires_at:
          type: string
          format: date-time
          nullable: true
          example: '2020-01-01T00:00:00.750Z'
          description: >-
            The date by which the customer must be enrolled in this net terms
            offer, not null when net_terms_status is pending_enrollment.
        credit_check_requested_at:
          type: string
          format: date-time
          nullable: true
          example: '2020-01-01T00:00:00.750Z'
          description: The date a credit check was requested.
        archived:
          type: boolean
          example: false
          description: Boolean indicating if customer is archived.
        duns_number:
          type: string
          nullable: true
          example: 00-123-4567
          description: >-
            Dun & Bradstreet unique nine-digit identifier for businesses that is
            associated with a business's Live Business Identity
        credit_decisions:
          type: array
          description: Array of credit decisions made for this customer.
          items:
            type: object
            properties:
              id:
                type: string
                example: abc123
                description: Unique identifier for the credit decision.
              created_at:
                type: string
                format: date-time
                example: '2020-01-01T00:00:00.750Z'
                description: Date the credit decision was created.
              decision:
                type: string
                enum:
                  - approved
                  - declined
                  - hold
                  - line_adjustment
                  - deactivate
                example: approved
                description: The credit decision outcome.
              amount:
                type: integer
                format: int64
                example: 10000
                description: The credit amount approved.
              advance_rate:
                type: number
                format: double
                example: 0.75
                minimum: 0
                maximum: 1
                description: The advance rate for this credit decision.
              decline_code:
                type: string
                enum:
                  - no_business_found
                  - thin_file
                  - failing_credit
                  - not_approved_need_more_info
                  - sole_prop
                  - applicant_business_association
                  - merchant_risk
                  - fraud
                  - no_us_address
                  - duplicate
                  - test_account
                  - email_verification_freemail
                  - email_verification_domain
                  - address_verification
                  - poor_cash_flow
                  - additional_info_not_provided
                  - other
                nullable: true
                example: no_business_found
                description: Code indicating reason for decline, if applicable.
              hold_code:
                type: string
                enum:
                  - past_due
                  - failed_payment
                  - requested_by_customer
                  - requested_by_merchant
                  - dispute
                  - fraud
                  - churned
                  - payment_plan
                  - inactive
                  - other
                nullable: true
                example: past_due
                description: Code indicating reason for hold, if applicable.
    Invoice:
      type: object
      properties:
        id:
          type: string
          example: PMMlaE5wbg0
          description: Unique identifier for the invoice.
        merchant_id:
          type: string
          example: MER456789
          description: ID of the sub-merchant this invoice belongs to.
        source:
          type: string
          enum:
            - QUICKBOOKS
            - MERCHANT_USER
            - ADMIN_USER
            - CUSTOMER_USER
            - API
          example: MERCHANT_USER
        customer_id:
          type: string
          description: >-
            ID of the customer being charged. For marketplace partners, the
            customer belongs to the partner. For single-merchant partners, the
            customer belongs to the sub-merchant.
        order_number:
          type: string
          example: '5055'
          description: Order number identifier.
        number:
          type: string
          example: 'Inv # 123'
          description: Invoice number identifier.
        po_number:
          type: string
          example: PO-555
          description: PO number identifier.
        notes:
          type: string
          example: Example of additional notes for Customer.
          description: Additional notes for the Customer
        line_items:
          type: array
          example: []
          description: Line item data
        merchant_invoice_url:
          type: string
          example: https://www.example.com/invoice.pdf
          description: The invoice PDF that you've uploaded to Resolve.
        resolve_invoice_url:
          type: string
          example: https://www.example.com/resolve-invoice.pdf
          description: Resolve-issued invoice PDF with your invoice attached.
        resolve_invoice_status:
          type: string
          example: completed
          description: >
            Shows current status of the Resolve-issued invoice PDF.


            - `not_generated` - PDF wasn't created or queued for creation.
            Resolve PDFs

            are generated when an invoice is sent.

            - `processing` - PDF is in the process of being generated. Try to
            refetch the invoice

            in a minute to get a `resolve_invoice_url` link.

            - `completed` - PDF is generated, `resolve_invoice_url` points to
            the generated file.
          enum:
            - not_generated
            - processing
            - completed
        fully_paid:
          type: boolean
          example: true
          description: Indicates whether the invoice is fully paid.
        fully_paid_at:
          type: string
          format: date-time
          example: '2020-01-01T00:00:00.730Z'
          description: The date the invoice has been fully paid.
        advanced:
          type: boolean
          example: false
          description: Indicates whether the invoice has been advanced.
        due_at:
          type: string
          format: date-time
          example: '2020-02-01T00:00:00.750Z'
          description: The current due date for this invoice's payment.
        original_due_at:
          type: string
          format: date-time
          example: '2020-02-01T00:00:00.750Z'
          description: The due date for this invoice at the time an advance was issued.
        invoiced_at:
          type: string
          format: date-time
          example: '2020-01-01T00:00:00.750Z'
          description: >-
            The date this invoice was created in your system of record (Resolve
            or Quickbooks).
        advance_requested:
          type: boolean
          example: 'false'
          description: Indicated if advance was requested.
        terms:
          type: string
          enum:
            - due_upon_receipt
            - net7
            - net10
            - net10th
            - net15
            - net20
            - net30
            - net45
            - net60
            - net75
            - net90
            - net120
            - net180
          description: The terms selected for this invoice.
        amount_payout_due:
          type: number
          format: double
          example: 4000
          description: >-
            The original amount that Resolve owed on this invoice on the advance
            date.
        amount_payout_paid:
          type: number
          format: double
          example: 2000
          description: The amount that Resolve has paid out.
        amount_payout_pending:
          type: number
          format: double
          example: 1000
          description: The amount that Resolve has currently pending to be paid out.
        amount_payout_refunded:
          type: number
          format: double
          example: 500
          description: The amount that Resolve has debited from due to refunds.
        amount_payout_balance:
          type: number
          format: double
          example: 500
          description: The amount remaining to be paid out.
        payout_fully_paid:
          type: boolean
          example: false
          description: The status of whether or not this invoice has been fully paid out.
        payout_fully_paid_at:
          type: string
          format: date-time
          example: '2020-01-02T00:00:00.730Z'
          description: The date of when this invoice has been fully paid out.
        amount_balance:
          type: number
          format: double
          example: 2000
          description: Current balance due.
        amount_due:
          type: number
          format: double
          example: 4000
          description: Original amount due.
        amount_refunded:
          type: number
          format: double
          example: 0
          description: Amount that has been refunded.
        amount_pending:
          type: number
          format: double
          example: 1000
          description: Amount of total payments pending.
        amount_paid:
          type: number
          format: double
          example: 1000
          description: Amount of total payments applied to this invoice.
        amount_advance:
          type: number
          format: double
          example: 4000
          description: Amount of advance received.
        amount_additional_advance:
          type: number
          format: double
          example: 1000
          description: Amount of additional advance received.
        amount_advance_fee:
          type: number
          format: double
          example: 10.75
          description: Fee for the amount of advance.
        amount_advance_fee_refund:
          type: number
          format: double
          example: 10.75
          description: Refunded fees for the amount of advance.
        advance_rate:
          type: number
          format: double
          example: 0.75
          minimum: 0
          maximum: 1
          description: The advance rate that was used to determine amount of advance.
        advanced_at:
          type: string
          format: date-time
          example: '2020-01-02T00:00:00.730Z'
          description: The date this invoice was advanced.
        amount_customer_fee_total:
          type: number
          format: double
          example: 500
          description: The total amount of customer fees accrued.
        amount_customer_fee_waived:
          type: number
          format: double
          example: 120
          description: The total amount of customer fees waived.
        amount_customer_fee_paid:
          type: number
          format: double
          example: 300
          description: The total amount of customer fees paid.
        amount_customer_fee_balance:
          type: number
          format: double
          example: 80
          description: The current amount of customer fees owed.
        created_at:
          type: string
          format: date-time
          example: '2020-01-02T00:00:00.730Z'
          description: Date the invoice was created.
        updated_at:
          type: string
          format: date-time
          example: '2020-01-02T00:00:00.730Z'
          description: Date the invoice was last updated.
        archived:
          type: boolean
          example: false
          description: Boolean indicating if invoice is archived.
        invoice_payment_url:
          type: string
          example: https://app.resolvepay.com/merchant/invoices/PMMlaE5wbg0
          description: Link to make invoice payments.
        canceled:
          type: boolean
          example: false
          description: Indicates whether the invoice is canceled.
        canceled_at:
          type: string
          format: date-time
          example: null
          description: Date the invoice was canceled.
        voided:
          type: boolean
          example: false
          description: Indicates whether the invoice is voided.
        voided_at:
          type: string
          format: date-time
          example: null
          description: Date the invoice was voided.
        amount_canceled:
          type: number
          format: double
          example: 0
          description: Amount that has been canceled.
        amount_voided:
          type: number
          format: double
          example: 0
          description: Amount that has been voided.
        amount_scheduled:
          type: number
          format: double
          example: 0
          description: Amount of scheduled payments.
        status:
          type: string
          description: Current payment status of the invoice.
        sent_at:
          type: string
          format: date-time
          example: '2020-01-01T00:00:00.730Z'
          description: Date the invoice was sent.
    Payment:
      type: object
      properties:
        id:
          type: string
          example: PMMlaE5wbg0
          description: Unique identifier for the payment.
        customer_id:
          type: string
          example: X50sgfRd
          description: Unique identifier of the customer that made the payment.
        source:
          type: string
          enum:
            - api
            - merchant_user
            - admin_user
            - customer_user
            - payment_gateway
            - check
            - guest_checkout
          example: customer_user
          description: Source of the payment.
        amount:
          type: number
          format: double
          example: 1000
          description: Amount of the payment in USD.
        method:
          type: string
          enum:
            - check
            - ach_debit
            - direct_deposit
            - card
            - merchant
            - unapplied_payment_adjustment
            - credit_note
            - adjustment
            - wire
          example: ach_debit
          description: Method of payment made by the customer.
        status:
          type: string
          enum:
            - pending
            - in_transit
            - in_review
            - paid
            - failed
            - canceled
          example: paid
          description: >
            Status of the payment.


            - `pending` - Payment is pending processing.

            - `in_transit` - Payment has been processed and is in transit.

            - `in_review` - Payment is being reviewed.

            - `paid` - Payment has been confirmed and applied to the customer's
            account.

            - `failed` - Payment failed confirmation (e.g., bank transfer or
            credit card payment rejected).

            - `canceled` - Payment was canceled by request.
        created_at:
          type: string
          format: date-time
          example: '2020-01-01T00:00:00.730Z'
          description: Date the payment was created.
        paid_at:
          type: string
          format: date-time
          example: '2020-01-02T00:00:00.730Z'
          description: >-
            Date the payment was confirmed by Resolve and applied to the
            customer's account.
        canceled_at:
          type: string
          format: date-time
          example: null
          description: Date the payment was canceled by request.
        failed_at:
          type: string
          format: date-time
          example: null
          description: Date the payment failed processing.
        processed_at:
          type: string
          format: date-time
          example: '2020-01-01T12:00:00.730Z'
          description: Date the payment was processed by Resolve.
        scheduled_at:
          type: string
          format: date-time
          example: null
          description: Date the payment was scheduled for processing, if applicable.
        processing_fee:
          type: number
          format: double
          example: 25.5
          description: Processing fee for the payment.
        canceled_code:
          type: string
          example: null
          description: Code indicating the reason the payment was canceled.
        failed_code:
          type: string
          example: null
          description: Code indicating the reason the payment failed processing.
        dispute_code:
          type: string
          example: null
          description: Code indicating the reason for a payment dispute.
        payment_links:
          type: array
          description: List of records the payment is applied to.
          items:
            type: object
            properties:
              record_id:
                type: string
                example: PMMlaE5wbg0
                description: ID of the record.
              record_type:
                type: string
                enum:
                  - invoice
                example: invoice
                description: Type of record the payment is applied to.
              amount:
                type: number
                format: double
                example: 500
                description: Amount applied to this record.
        created_by_user_id:
          type: string
          example: null
          description: ID of the user who created the payment, if applicable.
    CreditNote:
      type: object
      properties:
        id:
          type: string
          example: CNMlaE5wbg0
          description: Unique identifier for the credit note.
        source:
          type: string
          enum:
            - MERCHANT_USER
            - ADMIN_USER
            - API
          example: MERCHANT_USER
          description: Source of the credit note creation.
        customer_id:
          type: string
          example: X50sgfRd
          description: ID of the customer associated with the credit note.
        merchant_id:
          type: string
          example: MER456789
          description: ID of the sub-merchant this credit note belongs to.
        invoice_id:
          type: string
          example: PMMlaE5wbg0
          description: ID of the invoice this credit note is associated with.
        created_by_user_id:
          type: string
          example: USR123456
          description: ID of the user who created the credit note.
        number:
          type: string
          example: CN-001
          description: Credit note number identifier.
        amount:
          type: number
          format: double
          example: 1000
          description: Total amount of the credit note.
        amount_balance:
          type: number
          format: double
          example: 500
          description: Remaining balance to be applied.
        amount_paid:
          type: number
          format: double
          example: 500
          description: Amount that has been applied/paid out.
        amount_voided:
          type: number
          format: double
          example: 0
          description: Amount that has been voided.
        amount_payout:
          type: number
          format: double
          example: 1000
          description: Total payout amount for the credit note.
        amount_payout_balance:
          type: number
          format: double
          example: 500
          description: Remaining payout balance.
        amount_payout_paid:
          type: number
          format: double
          example: 500
          description: Amount that has been paid out.
        credit_note_url:
          type: string
          example: https://www.example.com/credit-note.pdf
          description: The credit note PDF that you've uploaded to Resolve.
        resolve_credit_note_url:
          type: string
          example: https://www.example.com/resolve-credit-note.pdf
          description: Resolve-issued credit note PDF.
        reason_code:
          type: string
          enum:
            - chargeback
            - duplicate
            - fraudulent
            - requested_by_customer
            - missing_remittance
            - overpayment_on_invoice
            - invoice_was_refunded
            - double_payment_on_invoice
            - missing_invoice_in_resolve
            - credit_transfer
            - other
          example: requested_by_customer
          description: The reason code for issuing this credit note.
        reason_message:
          type: string
          example: Customer returned damaged goods
          description: Additional details explaining the reason for the credit note.
        voided:
          type: boolean
          example: false
          description: Indicates whether the credit note is voided.
        voided_at:
          type: string
          format: date-time
          example: null
          description: Date the credit note was voided.
    Merchant:
      type: object
      properties:
        id:
          type: string
          description: >
            Resolve merchant identifier (lowercase alphanumeric).


            For partner API create flows, ID assignment behavior is:

            - Resolve may derive a human-friendly alphanumeric candidate from
            merchant naming fields.

            - If the candidate collides with an existing merchant ID, Resolve
            generates a random lowercase alphanumeric ID.
          example: mrc_1234567890abcdef
        legal_business_name:
          type: string
          example: Acme Supply LLC
        dba_name:
          type: string
          nullable: true
          example: Acme Industrial
        business_address:
          $ref: '#/components/schemas/Address'
        business_email:
          type: string
          format: email
          example: ops@acmesupply.com
        business_phone:
          type: string
          example: '+15125550123'
        entity_type:
          type: string
          enum:
            - corporation
            - llc
            - sole_proprietorship
            - partnership
            - non_profit
          example: llc
        formation_state:
          type: string
          example: TX
        industry:
          type: string
          nullable: true
          example: Manufacturing
        website:
          type: string
          nullable: true
          format: uri
          example: https://acmesupply.com
        underwriting_status:
          type: string
          description: Current underwriting lifecycle status for the merchant.
          example: pending
        seller_amount_approved:
          type: integer
          nullable: true
          description: Merchant approved limit (MAL), when available.
          example: 50000
        active_subscription:
          type: object
          nullable: true
          properties:
            id:
              type: string
              example: sub_1234567890abcdef
            tier:
              type: string
              example: trial
        metadata:
          type: object
          additionalProperties: true
        document_ingestion:
          $ref: '#/components/schemas/DocumentIngestionSummary'
        created_at:
          type: string
          format: date-time
          example: '2026-02-26T10:00:00.000Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-02-26T10:05:00.000Z'
    MerchantDocumentUploadRequest:
      $ref: '#/components/schemas/MerchantDocumentUploadRequestObject'
    Shipment:
      $ref: '#/components/schemas/ShipmentObject'
    WebhookEndpoint:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the webhook endpoint
          example: whe_abc123def456
        merchant_id:
          type: string
          description: The partner ID associated with this webhook endpoint
          example: mer_xyz789
        endpoint_url:
          type: string
          format: uri
          description: The HTTPS URL where webhook events will be sent
          example: https://example.com/webhooks/resolve
        topic:
          type: object
          description: The event topic this endpoint is subscribed to
          properties:
            name:
              type: string
              description: The event topic name
              example: invoice.created
            description:
              type: string
              description: Human-readable description of the event topic
              example: Triggered when a new invoice record is created
        created_at:
          type: string
          format: date-time
          description: When this webhook endpoint subscription was created
          example: '2021-05-20T09:23:53+00:00'
        updated_at:
          type: string
          format: date-time
          description: When this webhook endpoint subscription was last updated
          example: '2021-05-20T09:23:53+00:00'
    WebhookEvent:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the webhook event
          example: 4ecbe7f9e8c1c9092c000027
        object:
          type: string
          description: >-
            The type of object this event relates to (e.g., invoice, customer,
            payment, payout)
          example: invoice
        type:
          type: string
          description: The event type that triggered this webhook
          enum:
            - invoice.created
            - invoice.balance_updated
            - customer.created
            - customer.status_updated
            - customer.line_amount_updated
            - customer.advance_rate_updated
            - customer.credit_decision_created
            - payment.created
            - payment.status_changed
            - payout.created
            - payout.status_changed
            - merchant.created
            - merchant.underwriting_completed
            - merchant.more_info_needed
            - merchant.mal_updated
          example: invoice.created
        occurred_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when the event was created
          example: '2021-05-20T09:23:53+00:00'
        data:
          type: object
          properties:
            id:
              type: string
              description: >-
                The ID of the object related to the event. You can fetch the
                full object using this ID via the corresponding API endpoint.
              example: RH5fF9aeQ
            merchant_id:
              type: string
              description: >-
                The ID of the sub-merchant the event occurred for. Use this to
                identify which sub-merchant's data triggered the webhook.
              example: MER456789
          required:
            - id
            - merchant_id
      required:
        - id
        - object
        - type
        - occurred_at
        - data
    WebhookEventSubscriptions:
      type: object
      description: >-
        Object containing boolean flags for each available webhook event topic.
        Set to true to subscribe to that event, or false to unsubscribe.
      properties:
        invoice.created:
          type: boolean
          description: Subscribe to invoice creation events
          example: true
        invoice.balance_updated:
          type: boolean
          description: Subscribe to invoice balance update events
          example: false
        customer.created:
          type: boolean
          description: Subscribe to customer creation events
          example: true
        customer.status_updated:
          type: boolean
          description: Subscribe to customer status update events
          example: false
        customer.line_amount_updated:
          type: boolean
          description: Subscribe to customer credit line amount update events
          example: false
        customer.advance_rate_updated:
          type: boolean
          description: Subscribe to customer advance rate update events
          example: false
        customer.credit_decision_created:
          type: boolean
          description: Subscribe to customer credit decision creation events
          example: true
        payment.created:
          type: boolean
          description: Subscribe to payment creation events
          example: true
        payment.status_changed:
          type: boolean
          description: Subscribe to payment status change events
          example: true
        payout.created:
          type: boolean
          description: Subscribe to payout creation events
          example: false
        payout.status_changed:
          type: boolean
          description: Subscribe to payout status change events
          example: false
        merchant.created:
          type: boolean
          description: Subscribe to partner-facing sub-merchant creation events
          example: true
        merchant.underwriting_completed:
          type: boolean
          description: Subscribe to sub-merchant underwriting completion events
          example: true
        merchant.more_info_needed:
          type: boolean
          description: Subscribe to sub-merchant underwriting needs-info events
          example: false
        merchant.mal_updated:
          type: boolean
          description: Subscribe to sub-merchant MAL update events
          example: false
      additionalProperties: false
    InvoiceListResponse:
      type: object
      properties:
        count:
          type: integer
          example: 1
        limit:
          type: integer
          example: 25
        page:
          type: integer
          example: 1
        results:
          type: array
          items:
            $ref: '#/components/schemas/Invoice'
    ValidationError:
      type: object
      title: Validation error
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              description: A short string, describing error details
              example: Validation error
            type:
              type: string
              description: A short string, describing error type
              enum:
                - validation_error
              example: validation_error
            details:
              type: array
              items:
                type: object
                properties:
                  path:
                    type: string
                    example: path.to.field
                    description: Path to the field failed validation
                  message:
                    type: string
                    example: '`[field]` is required'
                    description: Detailed description of the error
    InvalidRequestError:
      type: object
      title: Invalid request error
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              description: A short string, describing error details
              example: '[Invalid request message]'
            type:
              type: string
              description: A short string, describing error type
              enum:
                - invalid_request
              example: invalid_request
    UnauthorizedError:
      type: object
      title: Unauthorized error
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              description: A short string, describing error details
              example: Invalid merchant credentials
            type:
              type: string
              description: A short string, describing error type
              enum:
                - authentication_error
              example: authentication_error
    RateLimitError:
      type: object
      title: Rate limit error
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              description: A short string, describing error details
              example: Too many requests
            type:
              type: string
              description: A short string, describing error type
              enum:
                - rate_limit_error
              example: rate_limit_error
    InvoiceRequestAfterSentBase:
      type: object
      properties:
        terms:
          type: string
          description: >-
            The terms selected for this invoice. Terms selected must be
            available on your account and different terms will be available
            based on advance_requested.
          example: due_upon_receipt
          enum:
            - due_upon_receipt
            - net7
            - net10
            - net10th
            - net15
            - net20
            - net30
            - net45
            - net60
            - net75
            - net90
            - net120
            - net180
        merchant_invoice_url:
          type: string
          format: url
          example: https://example.com/invoice.pdf
          description: URL for the publicly-accessible invoice PDF.
        number:
          type: string
          example: R334-097
          description: Invoice number identifier.
        order_number:
          type: string
          example: '09785'
          description: Order number identifier.
        po_number:
          type: string
          example: PO-09785
          description: PO number identifier.
        notes:
          type: string
          example: Example of additional notes for Customer.
          description: Additional notes for the Customer
    InvoiceRequestBeforeSentBase:
      type: object
      properties:
        customer_id:
          type: string
          example: X50sgfRd
          description: ID of the customer being charged
        advance_requested:
          type: boolean
          example: 'false'
          description: >-
            The type of invoice. This will determine if this is an advanced or
            non-advanced invoice.
    InvoiceRequestAmountBase:
      type: object
      properties:
        amount:
          type: number
          format: double
          example: 2000
          description: Amount being charged from the customer
    InvoiceRequest:
      type: object
      allOf:
        - $ref: '#/components/schemas/InvoiceRequestAfterSentBase'
        - $ref: '#/components/schemas/InvoiceRequestBeforeSentBase'
        - $ref: '#/components/schemas/InvoiceRequestAmountBase'
    InvoiceCreateRequest:
      allOf:
        - type: object
          required:
            - merchant_id
            - amount
            - customer_id
            - number
            - merchant_invoice_url
          properties:
            merchant_id:
              type: string
              example: MER456789
              description: >-
                ID of the sub-merchant this invoice belongs to. Must be a valid
                sub-merchant under your partner account.
        - $ref: '#/components/schemas/InvoiceRequest'
    NotFoundError:
      type: object
      title: Not found error
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              description: A short string, describing error details
              example: '[entity] not found'
            type:
              type: string
              description: A short string, describing error type
              enum:
                - not_found_error
              example: not_found_error
    InvoiceUpdateBeforeSent:
      title: Not sent
      type: object
      allOf:
        - $ref: '#/components/schemas/InvoiceRequestAfterSentBase'
        - $ref: '#/components/schemas/InvoiceRequestBeforeSentBase'
        - $ref: '#/components/schemas/InvoiceRequestAmountBase'
    InvoiceUpdateAfterSentAdvanced:
      title: Sent with advance
      type: object
      allOf:
        - $ref: '#/components/schemas/InvoiceRequestAfterSentBase'
    InvoiceUpdateAfterSentNonAdvanced:
      title: Sent without advance
      type: object
      allOf:
        - $ref: '#/components/schemas/InvoiceRequestAfterSentBase'
        - $ref: '#/components/schemas/InvoiceRequestAmountBase'
    CreditNoteListResponse:
      type: object
      properties:
        count:
          type: integer
          example: 1
        limit:
          type: integer
          example: 25
        page:
          type: integer
          example: 1
        results:
          type: array
          items:
            $ref: '#/components/schemas/CreditNote'
    CreditNoteCreateRequest:
      type: object
      required:
        - invoice_id
        - amount
        - reason_code
      properties:
        invoice_id:
          type: string
          example: PMMlaE5wbg0
          description: ID of the invoice
        amount:
          type: number
          format: double
          example: 2000
          description: Amount of the credit note
        number:
          type: string
          example: CN-001
          description: Number of the credit note
        reason_code:
          type: string
          example: reason_code
          enum:
            - chargeback
            - duplicate
            - fraudulent
            - requested_by_customer
            - missing_remittance
            - overpayment_on_invoice
            - invoice_was_refunded
            - double_payment_on_invoice
            - missing_invoice_in_resolve
            - credit_transfer
            - other
          description: Reason code for the credit note
        reason_message:
          type: string
          example: reason_message
          description: Reason message for the credit note
        credit_note_url:
          type: string
          example: https://example.com/credit_note_url.pdf
          description: URL for the publicly-accessible credit note PDF.
    CreditNoteAction:
      type: object
      properties:
        status:
          type: string
          enum:
            - pending
            - processing
            - failed
            - completed
          example: pending
          description: Status of the credit note action
    CustomerList:
      type: object
      properties:
        count:
          type: integer
          example: 1
        limit:
          type: integer
          example: 25
        page:
          type: integer
          example: 1
        results:
          items:
            $ref: '#/components/schemas/Customer'
    CustomerPostRequest:
      type: object
      required:
        - business_address
        - business_city
        - business_state
        - business_zip
        - business_country
        - business_name
        - email
        - business_ap_email
      properties:
        merchant_id:
          type: string
          example: MER456789
          description: >-
            ID of the sub-merchant this customer belongs to. **Required for
            single-merchant partners.** Must be a valid sub-merchant under your
            partner account. **Not accepted for marketplace partners** —
            customers belong to the marketplace itself.
        external_id:
          type: string
          nullable: true
          example: CUS-123456
          description: >-
            Optional customer identifier from your system. This value is not
            required to be unique.
        business_address:
          type: string
          example: 111 Main Street
          description: Street address of the business' primary location.
        business_city:
          type: string
          example: San Francisco
          description: City of the business' primary location.
        business_state:
          type: string
          example: CA
          description: State or province of the business' primary location.
        business_zip:
          type: string
          example: '94104'
          description: US zip code of the business' primary location.
        business_country:
          type: string
          format: ISO 3166-1 alpha 2
          example: US
          description: >-
            2-letter country code of the business' primary location, according
            to the **ISO 3166-1 alpha 2** standard.
        business_ap_email:
          type: string
          format: email
          example: ap@example.com
          description: >-
            Email address of the business' accounts payable person or
            department.
        business_ap_phone:
          type: string
          example: (202) 456-1414
          description: Phone number of the business' accounts payable person or department.
        business_ap_phone_extension:
          type: string
          example: '123'
          description: >-
            Phone number extension of the business' accounts payable person or
            department.
        business_name:
          type: string
          example: Example, Inc.
          description: Full legal name of the business being applied for.
        email:
          type: string
          format: email
          example: user@example.com
          description: Email of the customer applying for terms.
        default_terms:
          type: string
          nullable: true
          description: Default terms invoices will be advanced with.
          enum:
            - net7
            - net10
            - net10th
            - net15
            - net20
            - net30
            - net45
            - net60
            - net75
            - net90
            - net120
            - net180
            - null
    CustomerPutRequest:
      type: object
      properties:
        external_id:
          type: string
          nullable: true
          example: CUS-123456
          description: Optional customer identifier from your system.
        business_address:
          type: string
          example: 111 Main Street
          description: Street address of the business' primary location.
        business_city:
          type: string
          example: San Francisco
          description: City of the business' primary location.
        business_state:
          type: string
          example: CA
          description: State or province of the business' primary location.
        business_zip:
          type: string
          example: '94104'
          description: US zip code of the business' primary location.
        business_country:
          type: string
          example: US
          description: Country of the business' primary location.
        business_ap_email:
          type: string
          example: ap@example.com
          description: >-
            Email address of the business' accounts payable person or
            department.
        business_ap_phone:
          type: string
          example: (202) 456-1414
          description: Phone number of the business' accounts payable person or department.
        business_ap_phone_extension:
          type: string
          example: '123'
          description: >-
            Phone number extension of the business' accounts payable person or
            department.
        business_name:
          type: string
          example: Example, Inc.
          description: Full legal name of the business being applied for.
        email:
          type: string
          format: email
          example: user@example.com
          description: Email of the customer applying for terms.
        default_terms:
          type: string
          nullable: true
          description: >-
            Set default terms that will apply to this customer's invoices. Can
            be overridden when requesting an advance.
          enum:
            - net7
            - net10
            - net10th
            - net15
            - net20
            - net30
            - net45
            - net60
            - net75
            - net90
            - net120
            - net180
            - null
    CustomerCreditCheckRequest:
      type: object
      required:
        - amount_requested
        - has_purchase_history
      properties:
        amount_requested:
          type: number
          example: 50000
          minimum: 1
          description: >-
            Request an amount (plus buffer) to cover your customer's purchases
            over their payment term. This can be increased later.
        business_description:
          type: string
          maxLength: 500
          example: Put a description your customer's business here.
          description: A description of your customer's business.
          nullable: true
        has_purchase_history:
          type: boolean
          example: true
          description: >-
            Indicates whether this customer has prior purchase history with the
            sub-merchant. When `true`, the sub-merchant has prior purchase
            history with this customer.
        has_purchase_terms_history:
          type: boolean
          example: false
          description: >-
            Required if `has_purchase_history = true`. Indicates whether this
            customer has prior purchase history on net terms with the
            sub-merchant. When `true`, the sub-merchant has prior net terms
            purchase history with this customer.
    CreditCheckExistsError:
      type: object
      title: Credit check exists error
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              description: A short string, describing error details
              example: Credit check already created for this customer.
            type:
              type: string
              description: A short string, describing error type
              enum:
                - invalid_request
              example: invalid_request
    IssueAccessKeyTokenRequest:
      type: object
      additionalProperties: false
      required:
        - client_id
        - client_secret
      properties:
        client_id:
          type: string
          description: OAuth access key client ID returned when the access key was created.
        client_secret:
          type: string
          description: >-
            OAuth access key client secret returned when the access key was
            created or rotated.
    AccessKeyTokenResponse:
      type: object
      required:
        - access_token
        - token_type
        - expires_in
      properties:
        access_token:
          type: string
          description: Bearer token to include in the `Authorization` header.
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          description: Token lifetime in seconds.
          example: 86400
        scope:
          type: string
          description: Space-delimited scopes granted to the token.
          example: merchant:read merchant:write
    ForbiddenError:
      type: object
      title: Forbidden error
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              description: A short string, describing error details
              example: API access key expired
            type:
              type: string
              description: A short string, describing error type
              example: forbidden_error
    Address:
      type: object
      required:
        - line1
        - city
        - state
        - postal_code
        - country
      properties:
        line1:
          type: string
          example: 100 Main St
        line2:
          type: string
          nullable: true
          example: Suite 200
        city:
          type: string
          example: Austin
        state:
          type: string
          example: TX
        postal_code:
          type: string
          example: '78701'
        country:
          type: string
          example: US
    DocumentIngestionResult:
      type: object
      description: >
        Inline document dispatch result for merchant create/update responses.

        Post-commit queue dispatch failures are surfaced here as `failed` items
        without rolling back the merchant write.
      properties:
        document_id:
          type: string
          nullable: true
          example: md_1234567890abcdef
        document_type:
          type: string
          enum:
            - bank_statements
            - financial_statements
            - credit_references
            - personal_guarantee
            - other
        filename:
          type: string
        download_url:
          type: string
          format: uri
        status:
          type: string
          enum:
            - queued
            - failed
        error_code:
          type: string
          nullable: true
        error_message:
          type: string
          nullable: true
    DocumentIngestionSummary:
      type: object
      properties:
        requested_count:
          type: integer
          example: 2
        queued_count:
          type: integer
          example: 1
        failed_count:
          type: integer
          example: 1
        results:
          type: array
          items:
            $ref: '#/components/schemas/DocumentIngestionResult'
    MerchantList:
      type: object
      properties:
        count:
          type: integer
          example: 2
        page:
          type: integer
          example: 1
        limit:
          type: integer
          example: 25
        results:
          type: array
          items:
            $ref: '#/components/schemas/Merchant'
    BeneficialOwner:
      type: object
      required:
        - first_name
        - last_name
        - date_of_birth
        - address
        - ssn_last_4
      properties:
        first_name:
          type: string
          example: John
        last_name:
          type: string
          example: Owner
        date_of_birth:
          type: string
          format: date
          example: '1987-04-14'
        address:
          $ref: '#/components/schemas/Address'
        ssn_last_4:
          type: string
          minLength: 4
          maxLength: 4
          example: '1234'
        ownership_percentage:
          type: number
          format: double
          minimum: 0
          maximum: 100
          example: 35
    AuthorizedSigner:
      type: object
      properties:
        first_name:
          type: string
          example: Jane
        last_name:
          type: string
          example: Doe
        email:
          type: string
          format: email
          example: jane.doe@acmesupply.com
        title:
          type: string
          example: Controller
        phone:
          type: string
          example: '+15125550123'
    InlineDocumentDownloadRequest:
      type: object
      required:
        - filename
        - filetype
        - download_url
      properties:
        filename:
          type: string
          description: >
            Original filename for the remote file.

            The filename must include an extension, and that extension must
            match `filetype`.
          example: bank_statement_2026_01.pdf
        filetype:
          type: string
          description: >
            MIME type for the remote file.

            Must be a supported MIME type for the merchant underwriting document
            validation profile.
          example: application/pdf
        download_url:
          type: string
          format: uri
          description: Remote file URL. Only `http` and `https` URLs are accepted.
          example: https://partner-files.example.com/bank_statement_2026_01.pdf
    CreateMerchantRequest:
      type: object
      required:
        - legal_business_name
        - business_address
        - business_email
        - business_phone
        - entity_type
        - formation_state
        - ein
      properties:
        legal_business_name:
          type: string
          example: Acme Supply LLC
        business_address:
          $ref: '#/components/schemas/Address'
        business_email:
          type: string
          format: email
          example: ops@acmesupply.com
        business_phone:
          type: string
          description: >-
            Business phone number. Must be a valid US phone number and is
            normalized to E.164.
          example: '+15125550123'
        entity_type:
          type: string
          enum:
            - corporation
            - llc
            - sole_proprietorship
            - partnership
            - non_profit
          example: llc
        formation_state:
          type: string
          description: >-
            Business formation state. Must map to a valid US state and is
            normalized to the state code.
          example: TX
        ein:
          type: string
          description: Employer Identification Number. Must be a valid EIN format.
          example: 12-3456789
        dba_name:
          type: string
          example: Acme Industrial
        annual_revenue:
          type: integer
          example: 4500000
        years_in_business:
          type: integer
          minimum: 0
          example: 6
        industry:
          type: string
          example: Manufacturing
        business_description:
          type: string
          example: Industrial hardware distributor
        website:
          type: string
          format: uri
          example: https://acmesupply.com
        estimated_monthly_net_terms_volume:
          type: integer
          example: 350000
        existing_net_terms_info:
          type: object
          additionalProperties: true
          example:
            provider: Internal
            average_days_past_due: 12
        beneficial_owners:
          type: array
          description: Initial beneficial owner list.
          items:
            $ref: '#/components/schemas/BeneficialOwner'
        authorized_signer:
          $ref: '#/components/schemas/AuthorizedSigner'
        plaid_access_token:
          type: string
          description: >-
            Plaid access token when a bank connection has already been
            established.
          example: access-sandbox-1234567890
        bank_account_number:
          type: string
          description: >
            Bank account number. Must satisfy Resolve account-number validation
            and must be different from

            `bank_routing_number`.
          example: '****6789'
        bank_routing_number:
          type: string
          description: ABA routing number. Must be a valid routing number.
          example: '*****021'
        metadata:
          type: object
          additionalProperties: true
          example:
            partner_reference: mt-merchant-1029
        bank_statements:
          type: array
          description: >
            Optional document ingestion on merchant create.

            Each item queues a background download job (equivalent to calling
            the document endpoint with `download_url`).
          items:
            $ref: '#/components/schemas/InlineDocumentDownloadRequest'
        financial_statements:
          type: array
          description: Optional inline `financial_statements` document ingestion requests.
          items:
            $ref: '#/components/schemas/InlineDocumentDownloadRequest'
        credit_references:
          type: array
          description: Optional inline `credit_references` document ingestion requests.
          items:
            $ref: '#/components/schemas/InlineDocumentDownloadRequest'
        personal_guarantee:
          type: array
          description: Optional inline `personal_guarantee` document ingestion requests.
          items:
            $ref: '#/components/schemas/InlineDocumentDownloadRequest'
        other_documents:
          type: array
          description: Optional inline `other` document ingestion requests.
          items:
            $ref: '#/components/schemas/InlineDocumentDownloadRequest'
    UpdateMerchantRequest:
      type: object
      description: >
        All fields are optional for update requests.


        For merchants whose latest underwriting decision has been finalized,
        updates to core legal/identity/banking

        fields may be blocked.
      properties:
        legal_business_name:
          type: string
        business_address:
          $ref: '#/components/schemas/Address'
        business_email:
          type: string
          format: email
        business_phone:
          type: string
          description: >-
            Business phone number. Must be a valid US phone number and is
            normalized to E.164.
        entity_type:
          type: string
          enum:
            - corporation
            - llc
            - sole_proprietorship
            - partnership
            - non_profit
        formation_state:
          type: string
          description: >-
            Business formation state. Must map to a valid US state and is
            normalized to the state code.
        ein:
[...]
